.bg-blurred-1 {
  background-image: url("../assets/bg-blur-1.jpg");
}

body {
  overflow: hidden;
  background: url("../assets/bg-blur-1.jpg");
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Acme", sans-serif !important;
}

.dashboard {
  background-color: #161616;
  height: 100vh;
  padding-top: 40px;
  height: 70vh;
}

.dashboard-item {
  list-style: none;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}

.dashboard-item > a {
  text-decoration: none;
}

.mainpage {
  height: 70vh;
}

footer,
header {
  height: 15vh;
}

.hover-bg-black:hover {
  background: #000 !important;
}

.hover-bg-black:focus {
  background: #000 !important;
}

.avatar-uploader {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: flex;
  height: 300px;
  justify-content: center;
  outline: 3px dashed #ccc;
  outline-offset: 5px;
  position: relative;
  width: 300px;
}
.avatar-uploader input {
  display: none;
}
.avatar-uploader img,
.avatar-uploader .icon {
  pointer-events: none;
}
.avatar-uploader,
.avatar-uploader .icon {
  transition: all 100ms ease-in;
}
.avatar-uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}
.avatar-uploader img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.avatar-uploader img.loaded {
  opacity: 1;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input-label,
.submit-form {
  display: inline-block;
  width: 200px;
  height: 50px;
  color: #000;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  text-align: center;
}

/*Buttons*/
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
}

.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}
